* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

html, 
body{
    height: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

#main-container {
    margin: 0px auto;
    height: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
}

#main-content,
#secondary-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#secondary-container {
    display: none;
}

.color-btn-container,
.digits-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.color-btn-container {
    padding-top: 5px;
}

.digits-container {
    margin: 0px auto;
    width: 300px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    height: 35px;
    width: 20%;
    padding: 5px;
    border-radius: 0.25rem;
}

.red-btn {
    background-color: #cc4750;
}

.green-btn {
    background-color: #77dd77;
}

.yellow-btn {
    background-color: #fdfd96;
}

.blue-btn {
    background-color: #5abedf;
}

.digit {
    margin: 20px 5px;
    width: 80px;
}

.button,
.icon-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container--bg {
    background-color: rgba(211,211,211,0.5);
}

.icon-container--height {
    height: 50px;
}

.icon-container--padding {
    padding: 5px;
}

.lower-icon-container {
    padding: 10px 0px;
    flex-shrink: 0;
}

.button {
    margin: 10px;
}

.icon {
    padding: 20px;
    display: block;
}

.icon--margin {
    margin: 5px;
}

.icon--text {
    font-size: 0.9rem;
}

.icon-container--flex {
    justify-content: space-around;
}

.arrow-menu {
    margin: 10px 0px;
}

.menu {
    background-color: #d3d3d3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}

.menu__choice {
    background-color: inherit;
    display: flex;
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.menu__choice--active {
    background-color: #a9a9a9;
}