* {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-touch-callout: none;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html, 
body {
    height: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#main-container {
    margin: 0px auto;
    height: 100%;
    max-width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#main-content,
#secondary-container {
    height: 100%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#secondary-container {
    display: none;
}

.color-btn-container,
.digits-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.color-btn-container {
    padding-top: 5px;
}

.digits-container {
    margin: 0px auto;
    width: 300px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.btn {
    height: 35px;
    width: 20%;
    padding: 5px;
    border-radius: 0.25rem;
}

.red-btn {
    background-color: #cc4750;
}

.green-btn {
    background-color: #77dd77;
}

.yellow-btn {
    background-color: #fdfd96;
}

.blue-btn {
    background-color: #5abedf;
}

.digit {
    padding: 20px 5px;
    width: 80px;
}

.button,
.icon-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.icon-container--small {
    margin: 0px auto;
    padding: 10px;
    width: 130px;
}

.icon-container--top {
    height: 50px;
}

.icon--rounded {
    border-radius: 25px;
}

.button--width {
    margin: 0px;
    padding: 10px;
    width: 50%;
}

.flex--grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
}

.active-button {
    background-color: rgba(211,211,211,0.5);
}

.icon-container--bg {
    background-color: rgba(211,211,211,0.5);
}

.icon-container--height {
    height: 50px;
}

.icon-container--padding {
    padding: 5px;
}

.lower-icon-container {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.icon {
    padding: 20px;
    display: block;
}

.icon--margin {
    margin: 5px;
}

.icon--text {
    font-size: 0.9rem;
}

.icon--red {
    color: #cc4750;
}

.icon-container--flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.arrow-menu {
    margin: 10px 0px;
}

.menu {
    background-color: #d3d3d3;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.menu__choice {
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
}

.menu__choice--active {
    background-color: #a9a9a9;
}